<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>imagePath</param-name>
        <param-value>img/</param-value>
    </context-param>
    <context-param>
        <param-name>productImagePath</param-name>
        <param-value>img/producten/</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
<!--    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>controller.ControllerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!--    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
        <url-pattern>/winkelwagen</url-pattern>
        <url-pattern>/account</url-pattern>
        <url-pattern>/klantbestelling</url-pattern>
        <url-pattern>/bestelling</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/registreren</url-pattern>
        <url-pattern>/inlogGelukt</url-pattern>
        <url-pattern>/errorNoLogin</url-pattern>
        <url-pattern>/bevestiging</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/view/login.xhtml</welcome-file>
        <welcome-file>../../login.xhtml</welcome-file>
        <welcome-file>/login.xhtml</welcome-file>
        <welcome-file>/index.xhtml</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/mummiefabriek</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
